/* stylesheet.css */
@font-face {
  font-family: postTitlefont;
  src: url("OhMaria-Bold-Italic.woff");
}
table {
    background-color: white;
    margin:auto;
}
h1{
    font: 50px "Arial Black", Gadget, sans-serif;
    color: blue;
    text-align: center;
    font-weight:bold;
}
body {
    text-align:center;
    font-family:sans-serif;
}

th{
    text-align: left;
}

#PageHeader {
    border-color: #E6E6FA;
    
}

.searchBar{
    background-color: #e8d988;
    padding: 5px;
    
}

.postInfo{
    width: 50%;
    background-color:#f9f9e3;
    border-radius:15px;
    padding-bottom:7px;
}
.postInfo:hover{
   background-color:#f7f0d7;
}
.postInfo:hover #postHeader{
    background-color:#f9c054;
}
#postHeader{
    text-align: left;
    background-color:#e8d988;
    padding: 3px;
    font-size:14px;
}

#tipTitle{
    font-weight:bold;
    font: 35px postTitleFont, Gadget, sans-serif;
    text-align:center;
    
}
#postText{
    padding-left: 10%;
    padding-right:10%;
}

#detailedTipInfo{
    width: 80%;
    background-color:#f9f9e3;
    margin: auto;
}

#detailedTipInfo h2{
    text-align: left;
    background-color:#e8d988;
    border-radius:15px 15px 0px 0px;
    padding: 15px;
}
.postingDetails {
    width: 50%;
    float: right;
    border-color: blue;
}
.characterDetails{
    width: 50%;
    float: left;
}
.textAndImage {
    clear:both;
    padding: 15px;
    border-top-width: 15px;
    border-top-color: #e8d988;
    border-top-style: solid;
}

.textAndImage img {
  height: 300px;
}

#popTip {
    background-color: #E6E6FA;
    width: 70%;
    border-radius: 0px 0px 15px 15px;
    display: inline-block;
    padding-bottom: 10px;
}
#popHeader {
    font-weight:bold;
    background-color: #9191ff;
    padding: 3px;
    font-size:14px;
    text-align: left;
    margin-top: 0px;
}
#popTitle {
    font-weight:bold;
    font: 35px postTitleFont, Gadget, sans-serif;
    text-align:center;
}
.popImage {
    height:150px;
}

/*.topSection{*/
/*    background-image:url("blue.jpg");*/
/*    background-attachment: fixed;*/
/*    position:relative;*/
/*    background-repeat: repeat-y;*/
/*    background-size: 100%;*/
/*}*/

.center {
    padding-top: 0px;
    text-align: center;
}

.logout{
    padding: 7px 60px 7px 7px;
    margin-left:20px;
    text-align:left;
    background-color:#eda934;
    white-space:nowrap;
}

.login{
    background-color:#E6E6FA;
    padding:7px;
    margin:5px;
}
.login input[type=text]{
    margin:5px;
}
.login input[type=password]{
    margin:3px;
}
input:focus{
  background-color: #edefd7;
}

.commentTable td {
    padding: 10px;
}

.commentTable  tr:nth-child(even) {
      background-color: #E6E6FA;
}

.commentTable  tr:nth-child(odd) {
      background-color: #e8d988;
}

.flashMessages{
    padding:7px;
    margin:5px auto;
    border-radius:5px;
    background-color:#e5efff;
    width:80%;
    float:none;
    text-align:center;
}