<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <html lang="en">
    {% block headstuff %}
    <meta name=author content="Anna Farrell-Sherman and Hershel Carbajal-Rodriguez">
    <title>{% block title %} OverWatch Tips and Tricks {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='ott favicon.png') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script type="text/javascript" src="../static/addOptions.js"> </script>
    <script type="text/javascript" src="../static/likes.js"> </script>
    {% endblock %}
</head>
<body>


{% block flash_msg %} 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="flashMessages"><img src="{{ url_for('static', filename='alert.png') }}" alt="Alert"style="width:3%"> {{msg}}</div>
            <br>
        {% endfor %}
    {% endif %}
{% endwith %}  
{% endblock %}


<table id="PageHeader">
    
    <tr > <!--search filters -->
        <div class="searchBar">
        
        <form method="POST" action={{url_for('search')}} enctype="multipart/form-data">
            <input type="submit" name="submitSearch" value="Home">
            <label> Search: <input type="text" name='search' placeholder="Search..."></label>
            <label><span>Map:</span>
                <select id="maps" name="maps"></select>
            </label>
            <label> <span>Hero:</span>
                <select id="heroes" name = "heroes"> </select>
            </label>
            <label><span> Difficulty:</span>
                <select id="difficulty" name = "difficulty"> </select>
            </label>
            <input id="searchButton" name="submitSearch" type="submit" value="Search">
        </form>
        </div>
    </tr>
    <tr >
        
        <td>
            <a href={{url_for('home')}}>
                <img src="{{ url_for('static', filename='ott logo.png') }}" alt="Overwatch Tips and Tricks Database Logo" width=80% align=left style="display:block; margin-bottom:20px">
            </a>
        </td>
        
        <!-- Login --> 
        {% block login %} 
        <td>
            {% if 'user' in session %}
            <form method="POST" action={{url_for('logout')}} class="logout">
                Hello, Agent {{session['user']}}.
                <p><a href="{{url_for('addPost')}}">Post New Tip</a></p>
                <p><a href="{{url_for('userPage', userName=session['user'])}}">View My Profile</a></p>
                <div><input type="submit" name="submit" value="Logout"></div>
            </form>
            
            {% else %}
            <form method="POST" action={{url_for('login')}} class="login">
                <div><label>User: <input type=text name="loginname"></label></div>
                <div><label>Pass: <input type=password name="loginpass"></label></div>
                <div><input type="submit" name="submit" value="Login"></div>
                <br>
                <div>New User? <input type="submit" name="submit" value="Create your account!"></div>
            </form>
            
            {% endif %}
        </td>
        {% endblock %}
    </tr>
</table>

{% block content %}
{% endblock %}



</html>
