
{% extends "base.html" %}

{% block content %}
{% block intro %}
<p>Welcome to the Overwatch Tips and Tricks Database!</p>
<p>We hope this becomes your one stop for all your gaming questions.</p>
<br>
{% endblock %}

{% if today %}
<div class="center">
    <div id="popTip">
        
        <p id="popHeader"> Most Popular Tip <p>
        <p id="popTitle">{{today.title}}</p>
        <p>{{today.postText}}</p>
        <img class="popImage" src="{{url_for('image',tipID=today['tipID'])}}" alt="No image for: {{today.title}}">
        <p>Posted {{today.datePosted}} by {{today.user}}</p>
        <a href="/tip/{{today.tipID}}">
            <img  src="{{ url_for('static',filename='arrow icon.png')}}" alt="more info icon" align=right style="margin-right:10%" />
        </a>
    </div>
</div>
{% endif %}



<div class='tip-list'>

    <h3>{% block listTitle %}Latest Tips and Tricks:{% endblock %}</h3>
    <form method=post action="">
        <table>
            {% for tip in tips %}
            <table class="postInfo">
                <th id="postHeader" >
                    Tip #{{tip.tipID}} {% if tip.datePosted %} {{tip.datePosted}} {% endif %}
                </th>
                <tr>
                    <td>
                    {% if tip.title %} 
                    <p id="tipTitle">{{tip.title}}</p>
                    {% endif %}
                    <p id="postText">{{tip.postText}}</p>
                    
                    </td>
                    
                </tr>
                <tr id="navButtons"  data-ID={{tip.tipID}} >
                    <td>
                        
                        <a href="/tip/{{tip.tipID}}">
                            <img  src="{{ url_for('static',filename='arrow icon.png')}}" alt="more info icon" align=right style="margin-right:10%" />
                        </a>
                        
                        <!--we only want the like form to show up when someone is logged in-->
                        {% if session['user'] %}
                            <form method="POST" action={{url_for('likePost')}} align=right style="margin-right:20%">
                                <span id="totalLikes">{{tip.totalLikes}}</span>
                                <label class="like"> <input type="submit" name="likeButton" value="{{tip.likeText}}"></label>
                            </form>
                            
                        {%else%}
                            <!--display the total number of likes without rendering the button. then, say "like" if the total number of likes=1, else say "likes"-->
                            <div align=right style="margin-right:20%" ><i>{{tip.totalLikes}} {%if tip.totalLikes is eq(1)%} Like {%else%}Likes {%endif%}</i></div>
                        {% endif  %}


                    </td>
                </tr>
            </table>
            <br>
            {% endfor %}
        </table>
</div>
 
 {% endblock %}
 
