{% extends "base.html" %}

{% block content %}

<form method="POST" action="/addPost/" enctype="multipart/form-data">
    
    <table align="center">
        <tr><td><label for="tipTitle">Title: </label></td>
            <td><input id="tipTitle" type="text" name="title" size="30" placeholder="Tip Title" value="{{pHolder.pTitle}}"></td></tr>
        <tr><td><label for="tipHero">Hero: </label></td>
          <td><select id= "tipHero" name="hero"></select></td></tr>
        <tr><td><label for="tipMap">Map: </label></td>
          <td><select id= "tipMap" name="map"></select></td></tr>
        <tr><td>Difficulty: </td>
            <td><label><input type="radio" name="diff" value="Beginner" checked> Beginner</label>
                <label><input type="radio" name="diff" value="Intermediate"> Intermediate</label>
                <label><input type="radio" name="diff" value="Advanced"> Advanced</label>
                <label><input type="radio" name="diff" value="Expert"> Expert</label></td></tr>
                
        <tr><td><label for="img">Image Upload: </label></td>
            <td><input id="img" type="file" name="img"></td></tr>
        
        <tr><td><label for="tipText">Description: </label></td>
            <td><textarea id="tipText" name="text" rows="20" cols="75" placeholder="Enter a discription of your tip here...">{{pHolder.pText}}</textarea></td></tr>
         

        <tr><td><input id="addPostButton" name="submit" type="submit" value="Add Post"></td></tr>
    </table>
 
</form> 

{% endblock %}
