{% extends "base.html" %}
 
{% block content %}

    {% if tips|length %}
        <p>Displaying results for the following query.</p>
    {%else%}
        <p>We're sorry, we don't have any tips matching the following query.</p>
    {% endif %}
    <strong>Term:</strong>'{{filters.searchTerm}}' &emsp; <strong>Map:</strong> {{filters.mapName}} &emsp; <strong>Hero:</strong> {{filters.heroName}}  &emsp; <strong>Difficulty:</strong> {{filters.difficulty}}</pre>
    <p></p>
    
<div class='tip-list'>

    <h3>{% block listTitle %}Latest Tips and Tricks:{% endblock %}</h3>
    <form method=post action="">
        <table>
            {% for tip in tips %}
            <table class="postInfo">
                <th id="postHeader" >
                    Tip #{{tip.tipID}} {% if tip.datePosted %} {{tip.datePosted}} {% endif %}
                </th>
                <tr>
                    <td>
                    {% if tip.title %} 
                    <p id="tipTitle">{{tip.title}}</p>
                    {% endif %}
                    <p id="postText">{{tip.postText}}</p>
                    
                    </td>
                    
                </tr>
                <tr id="navButtons"  data-ID={{tip.tipID}} >
                    <td>
                        
                        <a href="/tip/{{tip.tipID}}">
                            <img  src="{{ url_for('static',filename='arrow icon.png')}}" alt="more info icon" align=right style="margin-right:10%" />
                        </a>
                        
                        <!--we only want the like form to show up when someone is logged in-->
                        {% if session['user'] %}
                            <form method="POST" action={{url_for('likePost')}} align=right style="margin-right:20%">
                                <span id="totalLikes">{{tip.totalLikes}}</span>
                                <label class="like"> <input type="submit" name="likeButton" value="{{tip.likeText}}"></label>
                            </form>
                            
                        {%else%}
                            <!--display the total number of likes without rendering the button. then, say "like" if the total number of likes=1, else say "likes"-->
                            <div align=right style="margin-right:20%" ><i>{{tip.totalLikes}} {%if tip.totalLikes is eq(1)%} Like {%else%}Likes {%endif%}</i></div>
                        {% endif  %}

                    </td>
                </tr>
            </table>
            <br>
            {% endfor %}
        </table>
</div>
 {% endblock %}