{% extends "base.html" %}

{% block title %} Trick #{{trick.tipID}}: {{trick.title}} {% endblock %}

{% block content %}

<div class="tip-list" id = "detailedTipInfo">
    <h2> Trick #{{trick.tipID}}: {{trick.title}} </h2>

    <div class = "postingDetails">
        <p>Posted by: {{trick.user}} </p>
        <p>Posted on: </p>
        <p>{{trick.datePosted}}</p>
    </div>
    <div class = "characterDetails">
        <p>{{trick.difficulty}}</p>
        <p>Hero: {{trick.hero}}</p>
        <p>Map: {{trick.map}}</p>
    </div>
    <div class = "textAndImage">
    <p style="margin: 0% 10%">{{trick.postText}} </p>
    <br>
    <img src="{{url_for('image',tipID=trick['tipID'])}}" alt="No image for: {{trick.title}}">
 
  <!--we only want the like form to show up when someone is logged in-->
    <span id="navButtons"  data-ID={{trick.tipID}} >
        {% if session['user'] %}
            <form method="POST" action={{url_for('likePost')}} align=right style="margin-right:10%">
                <span id="totalLikes">{{trick.totalLikes}}</span>
                <label class="like"> <input type="submit" name="likeButton" value="{{trick.likeText}}"></label>
            </form>
            
        {%else%}
        
            <!--display the total number of likes without rendering the button. then, say "like" if the total number of likes=1, else say "likes"-->
            <div align=right style="margin-right:10%" ><i>{{trick.totalLikes}} {%if trick.totalLikes is eq(1)%} Like {%else%}Likes {%endif%}</i></div>
        {% endif  %}
        </span >
    </div>
</div>

<div class="comments">
    <h3>User comments:</h3>
    <table class="commentTable">
        {% for comment in comments %}
            <tr>
            <td>On {{comment.datePosted}}, {{comment.username}} wrote: </td>
              <td>{{comment.commentText}}</td>  
            </tr>
        {% endfor %}
    </table>
    <h3>Add a comment:</h3>
    <form id="newComment" method="POST" action={{url_for('tip', tipID=trick.tipID)}} enctype="multipart/form-data" id="commentForm">
    <table align="center"> 
    <tr><label for="comment box" >
            <td><textarea name="commentText" rows="10" cols="75" placeholder="Enter comment here...">
            </textarea></td></tr></label>
        <tr><td><input id="addCommentButton" name="addComment" type="submit" value="Add Comment"></td></tr>
    </table>
</form>
</div>
{% endblock %}
