<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Anna Farrell-Sherman and Hershel Carbajal-Rodriguez">
    <title>{% block title %} OverWatch Tips and Tricks {% endblock %}</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script type="text/javascript" src="../static/addOptions.js"> </script>
    
</head>
<body>
    
<table class="header">
        <tr> 
        <form method="POST" action={{url_for('search')}} enctype="multipart/form-data">
      <label for="search bar"> <input type="text" name='search' placeholder="Search..."></label>
      <label for="map dropdown">
          <span>Map:</span>
          <select id="maps" name="maps">
            </label>
        </select>
    
    <label for="hero dropdown"> 
        <span>Hero:</span>
        <select id="heroes" name = "heroes"> 
        </select>
    </label>
    <span> Difficulty:</span>
        <label for="difficulty dropdown"> 
        <select id="difficulty" name = "difficulty"> 
        </select>
    </label>
    
      <input id="searchButton" name="submitSearch" type="submit" value="Search">
    </form>
    </tr>
    <tr>
        <td>
            <img src="../static/ott logo.png" alt="Overwatch Tips and Tricks Database Logo" width=80% align=left style="display:block; margin-bottom:20px">
        </td>
        <!-- Login --> 
        <td>
            <form method=post action="" class="login">
            <div><label for="loginname">User: <input type=text name="loginname"></label></div>
            <div><label for="loginpass">Pass: <input type=password name="loginpass"></label></div>
            <div><input type="submit" name="submit" value="Login"></div></form>
        </td>
    </tr>
    
     <!--search filters -->
</table>


{% block flash_msg %} 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}  
{% endblock %}


{% if user %}

   <form method="post" action="">
        <input type="submit" name="logout" value="logout">
   </form>

{% else %}
    
   
 
{% endif %}

{% block content %}
{% endblock %}

</html>
