<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Anna Farrell-Sherman and Hershel Carbajal-Rodriguez">
    <title>{% block title %} OverWatch Tips and Tricks {% endblock %}</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    
</head>
<body>

<table class="header">
    <tr>
        <td>
            <img src="../static/ott logo.png" alt="Overwatch Tips and Tricks Database Logo" width=80% align=left style="display:block; margin-bottom:20px">
        </td>
        <td>
            <form method=post action="" class="login">
            <div><label for="loginname">User: <input type=text name="loginname"></label></div>
            <div><label for="loginpass">Pass: <input type=password name="loginpass"></label></div>
            <div><input type="submit" name="submit" value="Login"></div>
        </td>
    </tr>
</table>


{% block flash_msg %} 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}  
{% endblock %}


{% if user %}

   <form method="post" action="">
        <input type="submit" name="logout" value="logout">
   </form>

{% else %}
    
   
 
{% endif %}

{% block content %}
{% endblock %}

</html>
