<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Anna Farrell-Sherman and Hershel Carbajal-Rodriguez">
    <title>{% block title %} OverWatch Tips and Tricks {% endblock %}</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    
</head>
<body>

<!--NOTE FROM ANNA: maybe add the search bar here?-->

<h1>Overwatch Tips and Tricks Database</h1>

{% block flash_msg %} 
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}  
{% endblock %}


{% if user %}

   <form method="post" action="">
        <input type="submit" name="logout" value="logout">
   </form>

{% else %}

   <form method=post action="">
        <p><label for="loginname">User: <input type=text name="loginname"></label>
        <p><label for="loginpass">Pass: <input type=password name="loginpass"></label>
        <p><input type="submit" name="submit" value="Login">
  </form>
 
{% endif %}

{% block content %}
{% endblock %}

</html>
